<div class="page-header">
  <h1>Wypożyczone samochody:</h1>
</div>

<div id="table-wrapper">
  <%= render partial: 'table', locals: { rents: @rents } %>
</div>

<%= link_to 'Wypożycz!', new_rent_path, :class => "form-show" %>

<div class="hidden-form">
  <%= simple_form_for @rent do |f| %>
    <%= f.association :client, label: "Osoba wypożyczająca:", label_method: :full_name, as: :select %>
    <%= f.association :auto, label: "Samochód do wypożyczenia:", as: :select %>
    <%= f.button :submit %>
  <% end %>
  <%= render 'form' %>
  <a href="#" class="form-hide">Schowaj!</a>
</div>