<p>
  <strong>Marka samochodu:</strong>
  <%= @auto.make %>
</p>
<p>
  <strong>Model:</strong>
  <%= @auto.model %>
</p>
<p>
  <strong>Rok produkcji:</strong>
  <%= @auto.year %>
</p>
<p>
  <strong>Numer rejestracyjny:</strong>
  <%= @auto.license_plate %>
</p>


<%= link_to 'Edytuj', edit_auto_path(@auto) %> |
<%= link_to 'Powrót', root_path %>